<!DOCTYPE html>
<html>
<head>
  <title>DomainStatus</title>
  <%= stylesheet_link_tag    "domain_status/application", media: "all" %>
  <%= javascript_include_tag "domain_status/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
